 
  body{
    background-image: url(image7.gif);
    background-size: 100%;
    padding: 0; 
    background-repeat: no-repeat;
     
    
} */

/* 
.lapinou{
    position: absolute;
    margin-right: 500px;
    margin-top: 500px;
    margin-bottom: 200px;
}
  */

#buttons {
    position: absolute;
    margin-top: 350px;
    width: 100%;
}


#reset {
    margin-top: 50px;
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 15px 50px 15px;
}



.hidden{
    display: none;

}



#start {
    text-align: center;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 15px;
    color: green;
}




#nourriture{
    width: 200px;
    height: 100px;
}



#form{
     box-sizing: border-box;
     /* align-items: center; */
     max-width: 100%; 
     padding: 10px ; 
     font-size: 16px;
     background-color:
     rgb(210, 30, 45);
      border: 100px;
     text-align: center;
     margin-top: 300px;
     margin-left: 500px;
     padding: 10px 50px;
     border-radius: 15px;
     position: relative;
     
     

     
} 



#valider{
    box-sizing: border-box;
    align-items: center;
    background: green;
     border:2px solid black;
     color: aliceblue;
     display: block;
     border-radius: 4px;
     padding: 10px;
     font-size: 16px;
     width: 100px; 

    
}